<div class="about-page">
  <h1 class="title">jpstudy</h1>

  <p>
    Welcome to jpstudy! The site is currently under construction and is considered to be in an alpha release only. If you want to be one of the first to get started creating word lists for your Japanese language study, feel free to <%= link_to("sign up", signup_path) %> and get started today. There are still several key features being added so expect to see the tool grow in the coming months, but we plan to support any migrations required so that no user generated content is lost.
  </p>

  <h3 class="title">What makes jpstudy special?</h3>

  <h4 class="title">We like easy to use study tools</h4>
  <p>
    Our goal is to build simple tools that do not take much onboarding and serve as force-multipliers for language learners looking to maximize the efficiency of their study time. We understand that different tools are a better fit for different seasons of your language learning journey. We do not want to trap the content you create with our tools, so we will aim to provide content import and export functionality whenever possible.
  </p>

  <h4 class="title">We are just here to fill the gaps</h4>
  <p>
    jpstudy aims to fill gaps we have noticed in existing Japanese language study tools. It does not seek to replace important study tools like dictionaries or digital flashcard applications, but rather to make these existing tools easier to use.
  </p>

  <p class="contact">
    Questions? We'd love to hear your thoughts! You can reach us any time at <a href="mailto:support@jpstudy.app">support@jpstudy.app</a>.
  </p>
</div>
