<div class="next-kanji-instructions-page">
  <h1 class="title">Next kanji instructions</h1>

  <p>
    The <%= link_to "next kanji", next_kanji_path %> tool is the second major feature we added to jpstudy, and an incredible way to leverage all the data you already created in your <%= link_to "word list", words_path %>!
  </p>

  <h3 class="title">How does this tool work?</h3>

  <p>
    The Next Kanji tool finds new kanji in your word list and allows you to save each kanji  marked as either "skipped" or "added". The new character is coppied to the clipboard when the page loads and you may use the resources linked below the new character to look up definitions.
  </p>

  <p>
    If you already have a list of kanji you've been studying, you can use our <%= link_to "import tool", import_kanji_path %> to pick up right where you left off. Moving on from jpstudy? No worries, simply <%= link_to "export", export_kanji_path %> the kanji you've added on our site.
  </p>

  <p class="contact">
    Questions about this feature? We'd love to hear your thoughts! You can reach us any time at <a href="mailto:support@jpstudy.app">support@jpstudy.app</a>.
  </p>
</div>
