<div class="word-list-instructions-page">
  <div class="about-page">
    <h1 class="title">The jpstudy word list</h1>

    <p>
      The <%= link_to "word list", words_path %> is our favorite feature on jpstudy, and the first one we are implementing during the alpha.
    </p>

    <h3 class="title">How does this tool work?</h3>

    <p>
      The word list is a light-weight but (we think) quite snazzy way to keep track of the list of words you want to study. It offers quick access to important resources, like dictionary links and sources for audio files. You can check off words after you create flashcards for them to help you see what is left to study.
    </p>

    <p>
      If you already have a list of words you've been studying, you can use our <%= link_to "import tool", import_words_path %> to pick up right where you left off. Moving on from jpstudy? No worries, simply <%= link_to "export", export_words_path %> the word list you created on our site.
    </p>

    <p class="contact">
      Questions about this feature? We'd love to hear your thoughts! You can reach us any time at <a href="mailto:support@jpstudy.app">support@jpstudy.app</a>.
    </p>
  </div>
</div>
