@charset "UTF-8";

// https://fonts.google.com/specimen/Roboto#standard-styles
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import "variables";
@import "words";
@import "component_styles";

html {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 1.05em;
  color: #1F2937;
  body { margin: 0px; }
}

nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #374151;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1),0 10px 10px -5px rgba(0,0,0,0.04);
    li {
      float: left;
      a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        &:hover {
          background-color: #1F2937;
        }
      }
    }
  }
}

main {
  padding: 12px;
}
