.page-title {
  margin: 12px 0px;
}

.word-form {
  margin: 12px 0px;
  padding: 6px 12px 12px 12px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: 1px solid #F3F4F6;
  border-radius: 4px;
  .form-field {
    label {
      display: block;
      padding: 8px 0px 5px 0px;
      font-weight: 500;
    }
    input {
      font-size: 1.1em;
      border-radius: 4px;
      border: 1px solid #bbb;
      padding: 12px;
      width: 200px;
      height: 12px;
      &:focus {
        outline-color: #3B82F6;
      }
    }
  }
  .form-actions {
    padding-top: 14px;
  }
}

.words {
  padding-top: 12px;
}

.new-word {
  position: absolute;
  top: 28px;
  right: 20px;
}

.back-button {
  position: absolute;
  top: 28px;
  right: 20px;
}

.word {
  margin: 12px 0px;
  padding: 8px 12px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: 1px solid #F3F4F6;
  border-radius: 4px;
  position: relative;

  .delete button {
    background: none;
    border: none;
    text-decoration: none;
    font-size: 1.15em;
    float: right;
    margin-right: -10px;
    margin-top: -4px;
    &:hover {
      cursor: pointer;
    }
  }
  .edit a {
    text-decoration: none;
    font-size: 1.15em;
    float: right;
    margin-top: -4px;
  }
  .cards-created button {
    background: none;
    border: none;
    text-decoration: none;
    font-size: 1.15em;
    float: right;
    margin-top: -4px;
    &:hover {
      cursor: pointer;
    }
  }

  .translation {
    padding-bottom: 4px;
    .japanese {
      font-size: 1.4em;
    }
    .english {
      padding-left: 4px;
    }
    @media (max-width: 600px) {
      span { display: block; }
      .english { padding-left: 0px; }
    }
  }
  .source {
    color: #9CA3AF;
    padding-bottom: 7px;
    @media (max-width: 600px) {
      .added-on {
        display: block;
      }
    }
  }
  .resources {
    a { text-decoration: none; }
  }
}

.import-csv-form {
  font-size: 1.1em;
  .mapping-field-row {
    margin-bottom: 4px;
    input {
      width: 25px;
      font-size: 1.1em;
      border-radius: 4px;
      border: 1px solid #bbb;
      padding: 12px;
      height: 12px;
      &:focus {
        outline-color: #3B82F6;
      }
    }
  }
  .last-created-card-row-field-row,
  .source-name-field-row {
    padding: 8px 0px;
    input {
      display: block;
      font-size: 1.1em;
      border-radius: 4px;
      border: 1px solid #bbb;
      padding: 12px;
      width: 200px;
      height: 12px;
      &:focus {
        outline-color: #3B82F6;
      }
    }
    label {
      display: block;
      padding: 8px 0px 5px 0px;
      font-weight: 500;
    }
  }
  input[type="file"] {
    font-size: 1.1em;
    margin: 6px 0px 0px 1px;
    display: block;
    margin-top: 20px;
  }
  input[type="submit"] {
    margin-top: 24px;
    display: block;
  }
  // ::-webkit-file-upload-button {
  //   // to style the file upload button
  //   display: none;
  // }
  .includes-headers-field-row {
    padding-top: 18px;
    input[type="checkbox"] {
      font-size: 1.1em;
      transform: scale(1.4);
    }
  }
}
