.word-form {
  .form-field {
    label {
      display: block;
      padding: 4px 0px;
    }
    input {
      font-size: 1em;
      border-radius: 4px;
      border: 1px solid #bbb;
      padding: 12px;
      width: 200px;
      height: 12px;

    }
  }
  .form-actions {
    padding-top: 14px;
  }
  .submit {
    padding: 8px 16px;
    border-radius: 0.6em;
    border-style: solid;
    background-color: #3498db;
    border-color: #3498db;
    color: #fff;
    font-size: 1em;
    &:hover {
      cursor: pointer;
    }
  }
}

.words-table {
  padding-top: 20px;

  .table-scroll-container {
    overflow-x: scroll;
    padding-bottom: 16px;

    .table {
      border-left: 1px solid #bbb;
      border-bottom: 1px solid #bbb;
      border-radius: 4px;

      .table-row {
        display: flex;

        .table-header-cell { font-weight: bold; }
        // .table-header-cell[role="columnheader"] { /* styles for the table header cells */ }
        // .table-header-cell[role="rowheader"] { /* styles for the first cell in each row */ }
        .table-header-cell,
        .table-data-cell {
          border-top: 1px solid #bbb;
          border-right: 1px solid #bbb;
          padding: 8px 12px;
          flex: 1;

          // === column-specific widths ===
          &:not(:last-child) { min-width: 100px; } // all columns except the last
          &:nth-last-child(2) { max-width: 100px; } // word added column
          &:last-child { // edit column
            min-width: 35px;
            max-width: 35px;
          }
        }
      }

      // === Table rounded edges pt. 2 ===
      .table-header-cell {
        /* top-left border-radius */
        &:first-child { border-top-left-radius: 4px; }
        /* top-right border-radius */
        &:last-child { border-top-right-radius: 4px; }
      }
      turbo-frame:last-child .table-row {
        /* bottom-right border-radius */
        .table-data-cell:last-child { border-bottom-right-radius: 4px; }
        /* bottom-left border-radius */
        .table-data-cell:first-child { border-bottom-left-radius: 4px; }
      }
    }
  }
}
