<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for subscribing to JP Study</h1>
    <p>
      To connect your account to your subscription, please login to the site
      with this link: <%= @url %>.
    </p>
    <p>Thanks for joining and best of luck with your studies!</p>
  </body>
</html>
