<p style="max-width:700px;padding-bottom:20px;">
  Hi there! Thank you for subscribing to jpstudy. To connect your shiny
  new subscription to your account, please log in using this link:
</p>
<p>
  <table align="center" class="button-container" style="padding-bottom:20px;">
    <td>
      <a
        style="text-decoration:none;padding:8px 16px;border-radius:0.6em;border-style:solid;background-color:#3B82F6;border-color:#3B82F6;color:#fff;font-size:1em;cursor:pointer;"
        href="<%= login_url(ref_id: @encrypted_square_customer_id) %>"
      >
        Log in
      </a>
    </td>
  </table>
</p>
<p style="max-width:700px;">
  Thank you for helping make jpstudy a success! We wish you the best
  of luck with your studies. 頑張って!
</p>
