<p style="max-width:700px;padding-bottom:20px;">
  Having trouble accessing your account? We recieved a password reset request
  for your account on jpstudy.app. If this request came from you, you can follow
  this link to reset your password:
</p>
<p>
  <table align="center" class="button-container" style="padding-bottom:20px;">
    <td>
      <a
        style="text-decoration:none;padding:8px 16px;border-radius:0.6em;border-style:solid;background-color:#3B82F6;border-color:#3B82F6;color:#fff;font-size:1em;cursor:pointer;"
        href="<%= password_reset_url(token: @token.to_s, username: @user.username) %>"
      >
        Reset password
      </a>
    </td>
  </table>
</p>
<p style="max-width:700px;">
  See you inside!
</p>
