<p style="max-width:700px;padding-bottom:20px;">
  Welcome to jpstudy, <%= @user.username %>. You now have a jpstudy.app account
  registered under this email address. To verify your email and access your
  account, please follow this link:
</p>
<p>
  <table align="center" class="button-container" style="padding-bottom:20px;">
    <td>
      <a
        style="text-decoration:none;padding:8px 16px;border-radius:0.6em;border-style:solid;background-color:#3B82F6;border-color:#3B82F6;color:#fff;font-size:1em;cursor:pointer;"
        href="<%= email_verify_url(token: @token.to_s, user_id: @user.id) %>"
      >
        Verify email
      </a>
    </td>
  </table>
</p>
<p style="max-width:700px;">
  See you inside!
</p>
