<div class="kanji-finder-container">
  <div class="kanji-finder-form">
    <h2 class="title">Kanji finder</h2>

    <p class="light-gray head-explanation">
      Search text for new kanji to add to your kanji list
    </p>

    <%= form_tag(bulk_create_kanji_path(@current_user)) do |form| %>
      <div class="field">
        <%= text_area_tag :text, nil, required: true, rows: 6, minlength: 1, maxlength: 2000 %>
      </div>

      <div class="actions">
        <%= submit_tag "Find kanji", class: "button-blue", data: { controller: "disable", disable_with_value: "Finding kanji...", action: "disable#disableButton", disable_target: "button" } %>
      </div>
    <% end %>
  </div>
</div>
