<div class="kanji-wall-page">
  <h1 class="page-title">Your Kanji</h1>
  <p class="kanji-count">
    <%= @all_added_characters.size %> added
  </p>

  <div class="kanji-wall">
    <%= @all_added_characters.join("") %>
  </div>
</div>
