<div class="kanji-wall-page">
  <h1 class="page-title">Your Kanji</h1>
  <p class="kanji-count light gray">
    (<%= @all_characters.size %> total)
  </p>

  <div class="kanji-wall">
    <%= @all_characters.join("") %>
  </div>
</div>
