<h1 class="page-title">Editing word</h1>

<div class="actions">
  <%= link_to "Words", words_path, class: "button-purple back-button" %>
</div>

<br/>

<%= turbo_frame_tag dom_id(@word) do %>
  <%= render "form", word: @word %>
<% end %>
