<h1 class="page-title">Export CSV</h1>

<p>
  Export a simple CSV of your word list for data backup or to use in another
  study tool.
</p>

<%= link_to("Export words", download_words_path(format: :csv), target: "_blank", class: "button-blue export-button") %>
