<div class="words-export-page">
  <h1 class="page-title">Export your word list</h1>

  <p>
    Download a CSV of your word list for data backup or to use in another study tool. Choose to export all words you have created, or just the words that have not been checked off yet.
  </p>

  <div class="actions">
    <%= link_to(download_words_path(@current_user, format: :csv), target: "_blank", rel: "noopener noreferrer", class: "button-blue export-button") do %>
      <%= heroicon "document-download", variant: :outline, options: { class: "download-icon" } %>
      All words
    <% end %>
    <%= link_to(download_words_path(@current_user, format: :csv, filter: "not_checked_off"), target: "_blank", rel: "noopener noreferrer", class: "button-blue export-button") do %>
      <%= heroicon "document-download", variant: :outline, options: { class: "download-icon" } %>
      Words not checked off
    <% end %>
  </div>
</div>
