<div class="words-in-out-page">
  <h1 class="page-title">Own your creations</h1>

  <p>
    jpstudy is built on the idea that users should own the content they create. To support that goal, we have always shipped both import and export features as a part of the app. You can use these tools to migrate to jpstudy from a previous study tool, or to access your data for easy use elsewhere. Whether you are coming or going, we've got you covered.
  </p>

  <div class="actions">
    <%= link_to "Import words", import_words_path, class: "button-purple" %>
    <%= link_to "Export words", export_words_path, class: "button-blue" %>
  </div>
</div>
