<div class="words-in-out-page">
  <h1 class="page-title">Own your creations</h1>

  <p>
    jpstudy is built on the idea that users should own the content they create. To support that goal, we have always shipped both import and export features as a part of the app. You can use these tools to migrate to jpstudy from a previous study tool, or to access your data for easy use elsewhere. Whether you are coming or going, we've got you covered.
  </p>

  <div class="actions">
    <%= link_to "Import tool", import_words_path, class: "button-purple" %>
    <%= link_to "Export tool", export_words_path, class: "button-blue" %>
  </div>

  <h3>DANGER ZONE</h3>

  <p>
    Use this button clear all the words you have previously added. Please note this is a destructive action and cannot be undone.
  </p>

  <div class="actions">
    <%= button_to "Delete all words", destroy_all_words_path, method: :delete, class: "button-red", data: { controller: "confirmation", confirmation_message_value: "Are you sure you want to delete all the words you've added? This action is permanent and cannot be undone.", action: "confirmation#confirm" } %>
  </div>
</div>
