<div class="words-search-page">
  <div class="search-form-container">
    <h1 class="page-title">Word search</h1>

    <br/>

    <%= form_tag(words_path, method: :get) do |form| %>
      <div class="field">
        <%= label_tag :search, "English or Japanese" %>
        <%= text_field_tag :search, nil, type: "text" %>
      </div>

      <div class="actions">
        <%# name: nil prevents `commit` param from showing up in search path %>
        <%= submit_tag "Search", name: nil, class: "button-blue" %>
      </div>
    <% end %>
  </div>
</div>
