<h1 class="page-title">Word details</h1>

<br/>

<% if controller_name == "words" && action_name == "show" %>
  <span class="hidden word-<%= @word.id %>-delete-without-turbo"></span>
<% end %>
<%= render(@word) %>
