<noscript>
  <p class="light-gray contents-vertically-centered">
    <%= heroicon "book-open", variant: :outline, options: { class: "light-gray" } %>
    &nbsp;
    Page <%= @page %>
  </p>
</noscript>
