.button-red {
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 0.6em;
  border-style: solid;
  background-color: #EF4444;
  border-color: #EF4444;
  color: #fff;
  font-size: 1em;

  display: flex;
  flex-direction: row;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}

.button-purple {
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 0.6em;
  border-style: solid;
  background-color: #8B5CF6;
  border-color: #8B5CF6;
  color: #fff;
  font-size: 1em;

  display: flex;
  flex-direction: row;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}

.button-pink {
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 0.6em;
  border-style: solid;
  background-color: #F472B6;
  border-color: #F472B6;
  color: #fff;
  font-size: 1em;

  display: flex;
  flex-direction: row;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}

.button-blue {
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 0.6em;
  border-style: solid;
  background-color: #3B82F6;
  border-color: #3B82F6;
  color: #fff;
  font-size: 1em;

  display: flex;
  flex-direction: row;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}

.icon-solid,
.icon-outline {
  height: 22px;
}

.create-button-icon {
  height: 24px;
  margin: -2px 0px -2px -8px;
}

.edit-button-icon {
  height: 20px;
  margin: -3px 0px -3px -4px;
}
