.basic-button {
  -webkit-appearance: none;
  font-weight: 400;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 0.6em;
  border-style: solid;
  background-color: #E5E7EB;
  border-color: #E5E7EB;
  color: #0F172A;
  font-size: 1em;
  width: fit-content;

  display: flex;
  flex-direction: row;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
  &:disabled {
    cursor: not-allowed;
    background-color: #F3F4F6;
    border-color: #F3F4F6;
  }
}

.button-red {
  @extend .basic-button;
  background-color: #EF4444;
  border-color: #EF4444;
  color: #fff;
  &:disabled {
    background-color: #F87171;
    border-color: #F87171;
  }
}

.button-purple {
  @extend .basic-button;
  background-color: #8B5CF6;
  border-color: #8B5CF6;
  color: #fff;
  &:disabled {
    background-color: #A78BFA;
    border-color: #A78BFA;
  }
}

.button-pink {
  @extend .basic-button;
  background-color: #F472B6;
  border-color: #F472B6;
  color: #fff;
  &:disabled {
    background-color: #F9A8D4;
    border-color: #F9A8D4;
  }
}

.button-blue {
  @extend .basic-button;
  background-color: #3B82F6;
  border-color: #3B82F6;
  color: #fff;
  &:disabled {
    background-color: #60A5FA;
    border-color: #60A5FA;
  }
}

.icon-solid,
.icon-outline {
  height: 22px;
}

.create-button-icon {
  height: 24px;
  margin: -2px 0px -2px -8px;
}

.edit-button-icon {
  height: 20px;
  margin: -3px 0px -3px -4px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 23px;
  user-select: none;
  input {
    opacity: 0;
    &:checked + .slider {
      background-color: #3B82F6;
    }
    &:checked + .slider:before {
      -webkit-transform: translateX(15px);
      -ms-transform: translateX(15px);
      transform: translateX(15px);
    }
    &:focus + .slider {
      outline: -webkit-focus-ring-color auto 1px;
      outline-color: -webkit-focus-ring-color;
      outline-style: auto;
      outline-width: 1px;
    }
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    user-select: none;
    &:before {
      position: absolute;
      content: "";
      height: 15px;
      width: 15px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    &.round {
      border-radius: 34px;
      &::before {
        border-radius: 50%;
      }
    }
  }
}
