.memos-page {
  .head-explanation {
    font-size: 0.9em;
    margin: 6px 0px 30px 0px;
  }
  .memo-form {
    #memo_content {
      min-height: 50vh;
      height: fit-content;
    }
    .field {
      margin-bottom: 12px;
    }
    .actions {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      input[type="submit"] {
        margin-top: -2px;
      }
    }
  }
}
