html {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 1.05em;
  color: #1F2937;
  body { margin: 0px; }
}

nav {
  position: relative;
  overflow: hidden;
  background-color: #374151;
  height: 50px;
  box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1),0 10px 10px -5px rgba(0,0,0,0.04);
  a, button {
    float: left;
    color: white;
    text-align: center;
    padding: 6px 12px;
    text-decoration: none;
    font-size: 1em;
    background-color: #374151;
    border: none;
    &:hover {
      background-color: #1F2937;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    .icon-subtext {
      font-size: 0.7em;
    }
  }
  .center-links {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .right-links {
    float: right;
  }
  @media (max-width: 575px) {
    .left-links { display: none; }
    .center-links {
      position: initial;
      transform: unset;
    }
  }
  @media (max-width: 350px) {
    .in-out-link {
      display: none;
    }
  }
}

main {
  display: flex;
  width: 100%;
  justify-content: center;
  .page-content {
    padding: 12px 12px 24px 12px;
    width: 700px;
  }
}

.flash {
  color: white;
  a { color: white; }
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-bottom: 8px;
  &:last-child {
    margin-bottom: 25px;
  }
  .message {
    padding: 16px 20px;
    margin: 0px;
  }
  &.alert {
    background-color: #DC2626;
  }
  &.notice {
    background-color: #F59E0B;
  }
  &.success {
    background-color: #34D399;
  }
  .close-flash-button {
    -webkit-appearance: none;
    color: #111827;
    background-color: rgba(243, 244, 246, 0.5); // #F3F4F6
    border: none;
    opacity: 0.6;

    border-radius: 50px;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    padding: 2px;
    margin: 4px;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
    .icon-solid {
      height: 16px;
    }
  }
}

.light-gray {
  color: #9CA3AF;
}

.info-icon {
  @extend .light-gray;
}

.contents-vertically-centered {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.link-blue {
  color: #3B82F6;
}
