.square {
  .square-button {
    @extend .basic-button;
    background-color: #000000;
    border-color: #000000;
    color: #fff;
    display: inline-block;
  }
  .embedded-checkout-link-html-hidden-textarea,
  .checkout-button-html-hidden-textarea {
    opacity: 0;
    position: absolute;
  }
  .manage-subscription-button {
    margin-top: 8px;
  }
}
