.square {
  .square-button {
    @extend .basic-button;
    background-color: #000000;
    border-color: #000000;
    color: #fff;
    display: inline-block;
  }
  .manage-subscription-button {
    margin-top: 8px;
  }
}
