.about-page,
.word-list-instructions-page {
  h1.title {
    margin: 32px 0px;
    @media (max-width: 600px) {
      margin: 12px 0px;
    }
  }
  h3.title {
    margin: 32px 0px 24px 0px;
  }
  h4.title {
    margin-bottom: 12px;
  }
  a {
    color: #3B82F6;
  }
  p.contact {
    font-style: italic;
    margin-top: 32px;
  }
}
