.about-page,
.word-list-instructions-page,
.word-limit-explanation-page,
.keyboard-shortcuts-page {
  h1.title {
    margin: 12px 0px 32px 0px;
    @media (max-width: 600px) {
      margin: 12px 0px;
    }
  }
  h3.title {
    margin: 32px 0px 24px 0px;
  }
  h4.title {
    margin-bottom: 12px;
  }
  a {
    color: #3B82F6;
  }
  p.contact {
    font-style: italic;
    margin-top: 32px;
  }
  .code-block {
    font-family: 'Roboto Mono', monospace;
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      svg {
        margin: 0px 12px;
      }
    }
  }
}
