.signup-form-container,
.user-edit-form-container {
  display: flex;
  width: 100%;
  justify-content: center;
  .signup-form,
  .user-edit-form,
  .user-word-target-form {
    max-width: 400px;
    width: 100%;
    label {
      display: block;
      padding: 8px 0px 5px 0px;
      font-weight: 500;
    }
    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="password"] {
      display: block;
      font-size: 1.1em;
      border-radius: 4px;
      border: 1px solid #bbb;
      padding: 12px;
      margin-bottom: 5px;
      width: 93%;
      height: 12px;
      &:focus {
        outline-color: #3B82F6;
      }
    }
    input[type="submit"] {
      margin-top: 12px;
    }
    .actions {
      padding-top: 4px;
    }
  }
}

.user-actions {
  .edit-button {
    margin: 10px 5px 20px 0px;
  }
  a, form {
    display: inline-block;
  }
}

.user-profile-page {
  .title {
    margin: 12px 0px 0px 0px;
  }
  .word-limit-field {
    display: flex;
    align-items: top;
    strong {
      margin-right: 5px;
    }
    .info-icon {
      margin: -2px 0px 0px 2px;
    }
  }
}

.user-stats-page {
  .contact {
    font-style: italic;
    margin-top: 32px;
  }
}

.before-you-go-page {
  .contact {
    font-style: italic;
    margin-top: 32px;
  }
}

.user-in-out-page {
  .danger-zone-header {
    margin-top: 42px
  }
  .actions {
    margin-top: 24px;
    a {
      display: inline-block;
      &:not(:last-child) {
        margin-right: 8px;
        margin-bottom: 16px;
      }
    }
    button {
      display: inline-block;
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
}
