.signup-form-container,
.user-edit-form-container {
  display: flex;
  width: 100%;
  justify-content: center;
  .signup-form,
  .user-edit-form,
  .user-word-target-form {
    max-width: 400px;
    width: 100%;
    label {
      display: block;
      padding: 8px 0px 5px 0px;
      font-weight: 500;
    }
    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="password"] {
      display: block;
      font-size: 1.1em;
      border-radius: 4px;
      border: 1px solid #bbb;
      padding: 12px;
      margin-bottom: 5px;
      width: 93%;
      height: 12px;
      &:focus {
        outline-color: #3B82F6;
      }
    }
    input[type="submit"] {
      margin-top: 12px;
    }
    .actions {
      padding-top: 4px;
    }
  }
}

.user-actions {
  .edit-button {
    margin: 10px 5px 20px 0px;
  }
  a, form {
    display: inline-block;
  }
}

.user-profile-page {
  .title {
    margin: 12px 0px 0px 0px;
  }
  .word-limit-field,
  .kanji-limit-field {
    display: flex;
    align-items: top;
    strong {
      margin-right: 5px;
    }
    .info-icon {
      margin: -2px 0px 0px 2px;
    }
  }
  .kanji-limit-field {
    margin-top: -4px;
  }
}

.user-stats-page {
  .catagory-title {
    margin: 0px 0px -6px 0px;
    padding-top: 10px;
    display: flex;
    align-content: center;
    color: #8B5CF6;
  }
  .contact {
    font-style: italic;
    margin-top: 32px;
  }
}

.before-you-go-page {
  .contact {
    font-style: italic;
    margin-top: 32px;
  }
  .actions {
    display: flex;
    flex-wrap: wrap;
    .button-blue,
    .button-red {
      margin: 8px 8px 0px 0px;
    }
  }
}

.in-out-page {
  .tool-title {
    margin: 16px 0px 8px 0px;
  }
  .actions {
    display: flex;
    flex-wrap: wrap;
    .button-purple,
    .button-blue,
    .button-red {
      margin: 8px 8px 0px 0px;
    }
  }
  .danger-zone {
    margin: 80px 0px 12px 0px;
    @media (max-height: 700px) {
      margin-top: 60px;
    }
    border: 2px solid #DC2626;
    border-radius: 16px;
    padding: 12px;
    .danger-zone-header {
      margin: 0px;
    }
  }
}
