.page-title {
  margin: 12px 0px 0px 0px;
  &:lang(jp) {
    font-weight: 400;
  }
}

.word-form {
  margin: 12px 0px;
  padding: 6px 12px 12px 12px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: 1px solid #F3F4F6;
  border-radius: 4px;
  .form-field {
    label {
      display: block;
      padding: 8px 0px 5px 0px;
      font-weight: 500;
    }
    input {
      font-size: 1.1em;
      border-radius: 4px;
      border: 1px solid #bbb;
      padding: 12px;
      width: 200px;
      height: 12px;
      &:focus {
        outline-color: #3B82F6;
      }
    }
    textarea {
      font-size: 1.1em;
      border-radius: 4px;
      border: 1px solid #bbb;
      padding: 12px;
      height: 12px;
      font-family: 'Roboto', Arial, Helvetica, sans-serif;
      height: auto; // required to make html row setting work
      &:focus {
        outline-color: #3B82F6;
      }
    }
  }
  .form-actions {
    padding-top: 14px;
  }
}

.words-list-page {
  .page-title {
    a { text-decoration: none; }
  }
  .filters {
    padding: 8px 0px 20px 0px;
    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      float: left;
    }
    .filter-description {
      color: #9CA3AF;
      padding-left: 6px;
    }
    .filter-on svg {
      color: #10B981;
    }
    .filter-off svg {
      color: #9CA3AF;
    }
  }

  .words-list-container {
    padding-top: 6px;
  }
}

.new-word,
.back-button {
  float: right;
  margin-top: -36px;
}

.word {
  margin: 12px 0px;
  padding: 8px 12px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: 1px solid #F3F4F6;
  border-radius: 4px;
  position: relative;

  &.hidden { display: none; }

  .delete button,
  .edit a,
  .cards-created button {
    background: none;
    border: none;
    float: right;
    text-decoration: none;
    margin-top: -3px;
    color: #D1D5DB;
    padding: 1px;
    font-size: 0.8em;
    cursor: default;
    .icon-solid,
    .icon-outline {
      height: 20px;
      &:hover {
        cursor: pointer;
      }
      &.unchecked {
        color: #9CA3AF;
      }
      &.checked {
        color: #10B981;
      }
    }
  }

  .note .tooltip {
    float: right;
    margin-top: -3px;
    color: #D1D5DB;
    padding: 1px;
    font-size: 0.8em;
  }

  .delete button {
    margin-right: -9px;
  }

  .translation {
    padding-bottom: 4px;
    .japanese {
      font-size: 1.4em;
    }
    .english {
      padding-left: 4px;
    }
    @media (max-width: 600px) {
      span { display: block; }
      .english { padding-left: 0px; }
    }
  }
  .source {
    color: #9CA3AF;
    padding-bottom: 7px;
    @media (max-width: 600px) {
      .added-on {
        display: block;
      }
    }
  }
  .resources {
    a { text-decoration: none; }
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #111827;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 120%;
    left: 50%;
    margin-left: -60px;
  }

  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #111827 transparent;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
}

.import-csv-form {
  font-size: 1.1em;
  .mapping-field-row {
    margin-bottom: 4px;
    input {
      width: 25px;
      font-size: 1.1em;
      border-radius: 4px;
      border: 1px solid #bbb;
      padding: 12px;
      height: 12px;
      &:focus {
        outline-color: #3B82F6;
      }
    }
  }
  .last-created-card-row-field-row,
  .source-name-field-row {
    padding: 8px 0px;
    input {
      display: block;
      font-size: 1.1em;
      border-radius: 4px;
      border: 1px solid #bbb;
      padding: 12px;
      width: 200px;
      height: 12px;
      &:focus {
        outline-color: #3B82F6;
      }
    }
    label {
      display: block;
      padding: 8px 0px 5px 0px;
      font-weight: 500;
    }
  }
  input[type="file"] {
    font-size: 1.1em;
    margin: 6px 0px 0px 1px;
    display: block;
    margin-top: 20px;
  }
  input[type="submit"] {
    margin-top: 24px;
    display: block;
  }
  // ::-webkit-file-upload-button {
  //   // to style the file upload button
  //   display: none;
  // }
  .includes-headers-field-row {
    padding-top: 18px;
    input[type="checkbox"] {
      font-size: 1.1em;
      transform: scale(1.4);
    }
  }
}

.export-button {
  float: left;
}
